@import url(./estilos/header.css);
@import url(./estilos/salarios.css);
@import url(./estilos/depoimentos.css);
@import url(./estilos/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
    --principal:#8E2424;
    --titulo:#101828;
    --paragrafo: #667085;
    --branco:#fff;
    --cinza:#667085;
    --cor-logo:#3A404E;
    --footer: #F9FAFB;

    --fonte-inter: 'Inter';   
}

body{
    box-sizing: border-box;
}

.sobre-nos{
    display: flex;
    background-color: var(--branco);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
    padding: 7% 0 7% 0;
}

.sobre-nos__titulos{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.sobre-nos__sub-titulo{
    color: var(--principal);
    font-family: var(--fonte-inter);
    font-weight: 600;
    font-size: 1rem;
}

.sobre-nos__titulo{
    color: var(--titulo);
    font-size: 3rem;
    font-family: var(--fonte-inter);
    font-weight: 600;
}

.sobre-nos__paragrafo{
    color: var(--paragrafo);
    text-align: center;
    font-size: 1.25rem;
    width: 53%;
    font-family: var(--fonte-inter);
}
.estatisticas{
    display: flex;
    flex-direction: column;
    padding: 0 10% 0 10%;

}
.estatisticas__lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3% 0 3% 0;
    gap: 3rem;
}
.estatisticas__lista__itens{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    
}
.itens__numero{
    font-size: 3.25rem;
    color: var(--principal);
    font-family: var(--fonte-inter);
    font-weight: 600;
}
.itens__titulo{
    color: var(--titulo);
    font-family: var(--fonte-inter);
    font-weight: 500;
    font-size: 1.125rem;
}
.itens__paragrafo{
    font-family: var(--fonte-inter);
    font-weight: 400;
    color: var(--cinza);
    font-size: 1rem;
}
.vagas{
    margin: 4% 0;
}
.vagas__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.vagas_titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}
.vagas__titulos__paratitulo{
    font-size: 0.875rem;
    font-family: var(--fonte-inter);
    font-weight: 500;
    color: var(--principal);
    padding: 0.5% 1%;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 1rem;
}
.vagas__titulos__titulo{
    font-family: var(--fonte-inter);
    font-weight: 600;
    font-size: 2.25rem;
    color: var(--titulo);
}
.vagas__titulos__paragrafo{
    color: var(--cinza);
    font-size: 1.25rem;
    font-family: var(--fonte-inter);
    font-weight: 400;
}
@media (max-width: 428px){
    body{
        box-sizing: border-box;
    }
    .sobre-nos__titulo{
        font-size: 2.5rem;
        text-align: center;
    }
    .estatisticas__lista{
        display: flex;
        flex-direction: column;
    }
    .estatisticas__lista__itens{
        text-align: center;
    }
    .vagas__titulos__titulo{
        text-align: center;
    }
    .vagas__titulos__paragrafo{
        text-align: center;
    }
    .vagas__conteudo__imagem{
        width: 95%;
    }
    .depoimentos__subtitulo{
        text-align: center;
    }
    .rodape__titulo{
        text-align: center;
        font-size: 1.5rem;
    }
    .rodape__subtitulo{
        text-align: center;
    }


}
