@import url(./estilos/header.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

:root{
    --principal:#8E2424;
    --titulo:#101828;
    --paragrafo: #667085;
    --branco:#fff;
    --cinza:#667085;
    --cor-logo:#3A404E;


    --fonte-inter: 'Inter';   
}

.sobre-nos{
    display: flex;
    background-color: var(--branco);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
    padding: 7% 0 7% 0;
}

.sobre-nos__titulos{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.sobre-nos__sub-titulo{
    color: var(--principal);
    font-family: var(--fonte-inter);
    font-weight: 600;
    font-size: 1rem;
}

.sobre-nos__titulo{
    color: var(--titulo);
    font-size: 3rem;
    font-family: var(--fonte-inter);
    font-weight: 600;
}

.sobre-nos__paragrafo{
    color: var(--paragrafo);
    text-align: center;
    font-size: 1.25rem;
    width: 53%;
    font-family: var(--fonte-inter);
}
.estatisticas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.estatisticas__lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.itens__numero{
    font-size: 3.25rem;
}