@import url(./estilos/header.css);
@import url(./estilos/sobre-nos.css);
@import url(./estilos/estatisticas.css);
@import url(./estilos/vagas.css);
@import url(./estilos/salarios.css);
@import url(./estilos/depoimentos.css);
@import url(./estilos/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
    --principal:#8E2424;
    --titulo:#101828;
    --paragrafo: #667085;
    --branco:#fff;
    --cinza:#667085;
    --cor-logo:#3A404E;
    --footer: #F9FAFB;

    --fonte-inter: 'Inter';   
}

body{
    box-sizing: border-box;
}

@media (max-width: 428px){
    body{
        box-sizing: border-box;
    }
    .sobre-nos__titulo{
        font-size: 2.5rem;
        text-align: center;
    }
    .estatisticas__lista{
        display: flex;
        flex-direction: column;
    }
    .estatisticas__lista__itens{
        text-align: center;
    }
    .vagas__titulos__titulo{
        text-align: center;
    }
    .vagas__titulos__paragrafo{
        text-align: center;
    }
    .vagas__conteudo__imagem{
        width: 100%;
    }
    .depoimentos__subtitulo{
        text-align: center;
    }
    .rodape__titulo{
        text-align: center;
        font-size: 1.5rem;
    }
    .rodape__subtitulo{
        text-align: center;
    }
    .salarios {
        margin: 15% 5% 5% 5%;
    }
    
    .salarios__lista__itens__titulo{
        text-align: center;
        font-size: 1.5rem;
    }
    .rodape__copyright{
        text-align: center;
    }


}
