.depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 11% 10% 11% 10%;
    gap: 2.5rem;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
    padding: 64px;
}
.depoimentos__textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.depoimentos__subtitulo{
    font-size: 0.9rem;
    color: var(--principal);
    font-family: var(--fonte-inter);
    font-weight: 600;
}
.depoimentos__titulo{
    font-family: var(--fonte-inter);
    font-weight: 500;
    font-size: 2.25rem;
    text-align: center;
}
.depoimentos__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.depoimento__pessoa{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.depoimentos__imagem{
    width: 50%;
}
.depoimentos__nome{
    font-family: var(--fonte-inter);
    color: var(--titulo);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}
.depoimentos__cargo{
    font-family: var(--fonte-inter);
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--cinza);
    text-align: center;
}