.estatisticas{
    display: flex;
    flex-direction: column;
    padding: 0 10% 0 10%;

}
.estatisticas__lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3% 0 3% 0;
    gap: 3rem;
}
.estatisticas__lista__itens{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    
}
.itens__numero{
    font-size: 3.25rem;
    color: var(--principal);
    font-family: var(--fonte-inter);
    font-weight: 600;
}
.itens__titulo{
    color: var(--titulo);
    font-family: var(--fonte-inter);
    font-weight: 500;
    font-size: 1.125rem;
}
.itens__paragrafo{
    font-family: var(--fonte-inter);
    font-weight: 400;
    color: var(--cinza);
    font-size: 1rem;
}